.btn{
    &:link,
    &:visited{
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5rem 4rem;
        transition: all .2s ;
        border-radius: 10rem;
        font-size: 1.6rem;
        position: relative;
        
    }

    &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);

    
       &::after{
       transform: scaleX(1.4) scaleY(1.6);
       opacity: 0;
       }

    }
   
    &.active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    &--white{
        background-color:$color-white;
        color:$color-grey-dark;
    }


    &--white {
      background-color: $color-white;
      color: #777;

    
    &::after{
        background-color: $color-white;
}

}

&::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

&--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

}


